@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    text-decoration: none;
    padding: 1rem;
}

#nav {
    -webkit-box-shadow: 17px 0px 43px -3px rgba(0,0,0,0.43);
    -moz-box-shadow: 17px 0px 43px -3px rgba(0,0,0,0.43);
    box-shadow: 17px 0px 43px -3px rgba(0,0,0,0.43);
}

.message {
    padding: 16px;
    margin: 8px;
    max-width: 25%;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
}
  
  .sent {
    background-color: #48a6c3; /* Your desired style for sent messages */
    text-align: right;
    margin-left: auto;
    margin-right: 3rem;
  }
  
  .received {
    background-color: #252b2e; /* Your desired style for received messages */
    text-align: left;
    margin-left: 3rem;
  }

#room {
    background-color: #171b1d;
    border-color: #37373b;
}

#card {
    background-color: rgb(197, 195, 195);
    border-radius: 25px;
    padding-bottom: 5rem;
}

.lol {
    background-color: #202426;
}

input {
    background-color: #202426;
    border-color: #37373b;
    color: #37373b;
}

#header {
	-webkit-box-shadow: 0px 24px 44px -10px rgba(255,255,255,0.65);
	-moz-box-shadow: 0px 24px 44px -10px rgba(255,255,255,0.65);
	box-shadow: 0px 24px 44px -10px rgba(255,255,255,0.65);
}

#side {
    -webkit-box-shadow: inset -13px 0px 40px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: inset -13px 0px 40px 0px rgba(0,0,0,0.43);
    box-shadow: inset -13px 0px 40px 0px rgba(0,0,0,0.43);
}


#login {
    border-color: #37373b;
}

#btn:hover {
    cursor: pointer;
    border-radius: 9999px;
    background-color: whitesmoke;
}

#bg {
    background-color: #0a0e0f;
    height: calc(100% - 10rem);
}

img {
    height: 60px;
    width: 60px;
}

@font-face {
    font-family: Caros;
    src: url(../public/fonts/Caros.otf) format('otf');
    font-family: Montserrat;
    src: url(../public/fonts/Montserrat-Regular.ttf) format('ttf');
    font-family: Poppins;
    src: url(../public/fonts/Poppins-Regular.ttf) format('ttf');
}

#gradient-01 {
    background: rgb(67,17,106);
    background: linear-gradient(159deg, rgba(67,17,106,1) 0%, rgba(10,24,50,1) 100%);
    height: 377px;
    width: 500px;
    transform: rotate(134deg);
    filter: blur(100px);
    -webkit-filter: blur(100px);
}

#gradient-02 {
    background: rgb(17,84,130);
    background: linear-gradient(159deg, rgba(17,84,130,1) 0%, rgba(19,13,101,1) 100%);  
    height: 377px;
    width: 500px;
    transform: rotate(-134deg);
    filter: blur(100px);
    -webkit-filter: blur(100px);
}

.input {
	
	position:relative;
	font-size: 1.5em;	
	background: linear-gradient(21deg, #35205c, #271896);
	padding: 3px;
	display: inline-block;
	border-radius: 9999em;
	
	*:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0.75rem 1rem;
		z-index: 1; 
		
		&:focus + span {
			opacity: 1;
			transform: scale(1);
		}
	}
	
	span {	
		transform: scale(.993, .94); 
		transition: transform .5s, opacity .25s;
		opacity: 0; 
		
		position:absolute;
		z-index: 0; 
		margin:4px; 
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none;
		
		box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #35205c, 
			-3px 3px 30px #271896;
	}
}

.input1 {
	
	position:relative;
	font-size: 1.5em;	
	background: linear-gradient(21deg, #ffffff, #f5f5f5);
	padding: 3px;
	display: inline-block;
	border-radius: 9999em;
	
	*:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0.75rem 1rem;
		z-index: 1; 
		
		&:focus + span {
			opacity: 1;
			transform: scale(1);
		}
	}
	
	span {	
		transform: scale(.993, .94); 
		transition: transform .5s, opacity .25s;
		opacity: 0; 
		
		position:absolute;
		z-index: 0; 
		margin:4px; 
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none;
		
		box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #ffffff, 
			-3px 3px 30px #f5f5f5;
	}
}


@media (max-width: 1024px) {
    #karanje {
        display: none;
    }
}
